<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="DB_A162E1_zemogatestEntities" connectionString="metadata=res://*/db_EmployeeEntity.csdl|res://*/db_EmployeeEntity.ssdl|res://*/db_EmployeeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5033.smarterasp.net;initial catalog=DB_A162E1_zemogatest;persist security info=True;user id=DB_A162E1_zemogatest_admin;password=zemogatest01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>



